<h2><%= @user.name %></h2>
<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
<%= link_to "いいねした投稿", favorites_user_path(@user) %>
  <%= render "posts/post", post: @post %>