<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <%= image_tag "images1.jpg" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block img-fluid">
        <%= image_tag "top5.jpg" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100">
        <%= image_tag "top6.jpg" %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p class="fs-1">あなたに合ったインテリアを</p>
<p>自分が良いと思ったインテリアを投稿したり、共有しましょう！</p>
<p></p>