<div class="row g-3 align-items-center">
  <div class="col-auto">
    <li class="search_friend_by_categorize">
      <div class="uk-text-secondary uk-text-bold">
        タグで探す
      </div>
      <ul class="uk-flex uk-flex-wrap">
        <% @tag_lists.each do |list| %>
          <li>
            <%= link_to list.name, posts_path(interior_tag_id: list.id), class: 'tag_list' %>
          </li>
        <% end %>
      </ul>
    </li>
  </div>
</div>