<div class="row my-2 text-success">
  <% flash.each do |message_type, message| %>
    <%= content_tag :div, message, class: message_type %>
  <% end %>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4">
  <%= render @posts %>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
  <%= paginate @posts, theme: 'bootstrap-5' %>
</div>