// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.favorite-link {
  text-decoration: none;
}

.favorite-btn {
  font-size: 1em;
  color: #808080;
}

.favorite-btn {
  font-size: 1em;
  color: #e54747;
}