<div class="container mt-5">
  <h3>タグ一覧</h3>
  <table class="table mt-3">
    <tr>
      <th class="col-9">名前</th>
      <th class="col-3"></th>
    </tr>
  <% @tag_lists.each do |tag| %>
    <tr>
      <td class="col-9"><%= tag.name %></td>
      <td class="col-3">
      <%= link_to '削除', admin_interior_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
  <%= paginate @tag_lists, theme: 'bootstrap-5' %>
</div>